header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-image: url("/education1.jpg");
    position: relative;
}

.aside {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: var(--second-color);
    color: var(--font-color);
    font-family: 'Mogra', cursive;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 16px;
    border: 0.3rem solid var(--main-color);
}

nav {
    width: 100%;
    background-color: var(--second-color);
    font-family: 'Mogra', cursive;
    color: var(--font-color);
    position: absolute;
    bottom: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    overflow-x: auto;
}

.nav-li {
    display: grid;
    place-items: center;
    padding: 20px 10px;
}

.nav-li:hover {
    cursor: pointer;
    background-color: var(--third-color);
}

.nav-li:focus {
    background-color: var(--third-color);
}

@media only screen and (max-width: 420px) {

    .aside {
        font-size: 1.5rem;
    }

    .nav-menu {
        justify-content: start;
    }

    .nav-li {
        margin-left: 8px;
        margin-right: 8px;
    }
}