header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-image: url("public/education1.jpg");
    position: relative;
}

nav {
    width: 100%;
    background-color: var(--second-color);
    font-family: 'Mogra', cursive;
    color: var(--font-color);
    position: absolute;
    bottom: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    overflow-x: auto;
}

.nav-li {
    display: grid;
    place-items: center;
    padding: 20px 10px;
}

.nav-li:hover {
    cursor: pointer;
    background-color: var(--third-color);
}

@media only screen and (max-width: 420px) {
    .nav-menu {
        justify-content: start;
    }
}